*{
    box-sizing: border-box;
}
.body{
    width: 100%;
    
}
.header {
    background-color: gray;
    width: 100%;
    margin: auto;
    position: fixed;
}

.logo-img {
    float: left;
    position: relative;
    border-radius: 50%;
    padding-top: 5px;
    margin-left: 10px;
}
.site-name{
    color: skyblue;
    font-size: xx-large;
    position: relative;
    top:36px;
    left: 6px;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
}
.clr{
    clear: both;
}
.nav-bar{
    float: right;
}
.item{
    position: absolute;
    right: 40px;
    bottom: 50px;
    
}


.item li {
    display: inline-block;   
    padding-right: 12px;
    font-family: 'Krona One', sans-serif;
   
}
.item li a{
    text-decoration: none;
}
.item li button{
    border-radius: 20%;
    margin-left: 20px;
}


 
   
    
   
   .image2{
    width:300px;
    height:300px;
    
   
   }
   
   .flip {
     width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    margin-left: 29px;
    margin-top: 85px;
    margin-bottom: 45px; 
    display:inline-block;
    }
    
    
    .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    }
    
    

    
    
    .flip-front {
    background-color: #bbb;
    color: black;
    
    }
    
    
    .flip-back {
    background-color:#ddd8d87e;
    color: black;    
    transform: rotateY(180deg);
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    font-family:'Bebas Neue', cursive;
    font-size: large;
    
    
    }

    .flip:hover .flip-inner {
        transform: rotateY(180deg);
        }
        
        
        .flip-front, .flip-back {
        position: absolute;
        width: 100%;
        height: 100%;
    
        }
    
 